---
import getStarted from '../assets/get-started.png';
import trackIllustration from '../assets/track-illustration.png';
import organise from '../assets/organize.png';
import letsgo from '../assets/letsgo.png';
import "../styles/index.css";
import BaseLayout from "../layout/BaseLayout.astro";

---

<BaseLayout title="Heliox">
    <header aria-label="Page Header">
      
    </header>
		<main aria-label="Page Sliders">
		  <div class="slider-container">
		  <section class="slider1 zoom-active">
		    <img src={getStarted.src} class="slider-img" alt="Getting Started" >
		  <h2 class="slider-head fade-to-bottom">Welcome to Heliox</h2>
		  <p class="slider-desc fade-to-bottom">Looking for a better experience and approach with task management and task completions? Let's get you fired up!</p>
		  </section>
		  <section class="slider2">
		    <img src={trackIllustration.src} class="slider-img" alt="Track illustration" >
		  <h2 class="slider-head fade-to-bottom">Track your commitment daily</h2>
		  <p class="slider-desc fade-to-bottom">If you have ever had issues keep track of your daily streak activities, <b>Heliox</b> is the one in all app you need!</p>
		  </section>
      <section class="slider3">
		    <img src={organise.src} class="slider-img" alt="Organise" >
		  <h2 class="slider-head fade-to-bottom">Organise your Streaks</h2>
		  <p class="slider-desc fade-to-bottom">Heliox was built to provide the best streak organising experience to help you along your challenges</p>
		  </section>
		  <section class="slider4">
		    <img src={letsgo.src} class="slider-img" alt="Lets Go" >
		  <h2 class="slider-head fade-to-bottom">Lets goooo!!</h2>
		  <p class="slider-desc"></p>
		  </section>
		  </div>
		  <div class="next">
		    <div class="details">
		      <div class="dot current-frame"></div>
		      <div class="dot"></div>
		      <div class="dot"></div>
		      <div class="dot"></div>
		    </div>
		    <button class="next-btn">Next </button>
		  </div>
		</main>
		<script type="module" src="https://cdn.jsdelivr.net/npm/nuekjs@latest/scripts/main.js"></script>
		<script is:inline type="module">
		  const frames = [
  {
    name:"getStarted"
  },
  {
    name:"trackIllustration"
  },
  {
    name:"organise"
  },
  {
    name:"letsgo"
  }
];
let currentFrame = 0;
const allSlides = document.querySelectorAll('.slider-container section');
const sliderContainer = document.querySelector('.slider-container');
const nextButton = document.querySelector(".next-btn");
const dots = document.querySelectorAll(".dot");

nextButton.addEventListener("click",()=>{
  nextButton.classList.remove("clicked");
  void nextButton.offsetWidth;
  nextButton.classList.add("clicked")
  if(currentFrame < 3){
    currentFrame += 1;
    let offSet = -currentFrame * 100;
    sliderContainer.style.transform = `translateX(${offSet}vw)`;
    dots.forEach(dot => {
      dot.classList.remove("current-frame");
    });
    dots[currentFrame].classList.add('current-frame');
    let activeSlide = allSlides[currentFrame];
      activeSlide.querySelectorAll('.fade-to-bottom').forEach(ele => {
        ele.classList.remove("fade-to-bottom");
        void ele.offsetWidth;
        ele.classList.add("fade-to-bottom");
      });
      allSlides.forEach(slide => slide.classList.remove("zoom-active"));
    
      allSlides[currentFrame].classList.add("zoom-active");
      if(currentFrame === 3) {
        nextButton.innerText = "Get Started";
        return;
      }
  }else if (currentFrame === 3 && nextButton.innerText ==="Get Started"){
    document.body.style.opacity = 0;
    setTimeout(() => {
      window.location.href = "/signup";
        }, 300);
  }
});
const navPath = "components/nuek/NavBar.nuek";
const NavBar = new NuekComponent("header",navPath)
		</script>
</BaseLayout>
